*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
}


nav {
    display: flex;
    width: 100%;
    padding: 10px 0px;
    justify-content: space-between;
    position: absolute;
    z-index: 1;
    top: 10px;
  }
  
  .icon1 img {
    width: 250px;
    margin-left: 20px;
  }
  
  nav i {
    display: block;
    transform: translate(-100%, 20%);
    font-size: 30px;
    cursor: pointer;
    font-weight: bold;
    z-index: 4000;
   
  }
  
  
  .sbmenu {
    height: 100%;
    background: white;
    width: 35%;
    position: absolute;
    right: -100%;
    top: 0px;
    display: flex;
    justify-content: center;
    transition: all 300ms;
    opacity: 0;
    z-index: 3000;
  }
  
  .sbmenu ul {
    list-style: url("../img/arrow.png");
    height: 100%;
    width: 80%;
    display: flex;
  
    flex-direction: column;
    margin-left: 20px;
  }
  
  .sbmenu ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
  }
  .sbmenu ul li {
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .btnms {
    right: 0px;
    opacity: 1;
  }
  .opdacidbg {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.253);
    position: absolute;
    top: 0;
    z-index: 1000;
    display: none;
    transition: all 200ms;
  }
  
  .blk {
    display: block;
    transition: all 200ms;
  }
  @media screen and (max-width: 700px) {
    nav i {
      display: block;
      transform: translate(-100%, 20%);
      font-size: 30px;
      cursor: pointer;
      font-weight: bold;
      z-index: 2000;
    }
  
    .sbmenu {
      height: 100%;
      background: white;
      width: 65%;
      position: absolute;
      right: -200%;
      top: 0px;
      display: flex;
      justify-content: cente;
      transition: all 300ms;
      opacity: 0;
      z-index: 3000;
      overflow: hidden;
      display: none;
    }
  
    .sbmenu ul {
      list-style: url("/img/arrow.png");
      height: 100%;
      width: 80%;
      display: flex;
  
      flex-direction: column;
      margin-left: 20px;
    }
  
    .sbmenu ul li a {
      text-decoration: none;
      color: black;
      font-size: 20px;
    }
    .sbmenu ul li {
      margin-top: 50px;
      margin-bottom: 30px;
    }
    .btnms {
      right: 0px;
      opacity: 1;
      display: block;
    }
  
    .todcont {
      height: 100vh;
      width: 100vw;
      
    }
  }

  .contbtnmnu {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: absolute;
    right: 20px;
  
    top: 30px;
    cursor: pointer;
  }
  .contbtnmnu i:nth-child(1)::before {
    content: "";
    height: 700%;
    width: 100%;
    display: block;
    z-index: 5000;
  }
  
  .contbtnmnu i {
    display: block;
    height: 5px;
    width: 90%;
    background: black;
    transition: all 500ms;
    z-index: 5000;
    cursor: pointer;
  }
  .oc1 {
    transform: translateX(-50px);
    opacity: 0;
  }
  
  .rt1 {
    width: 70%;
    transform: rotate(50deg) translate(8px, 11px);
  }
  .rt2 {
    transform: rotate(-50deg) translate(8px, -11px);
    width: 70%;
  }




  /* service init*/

  *{
    font-family: DINOT-regular;
}
.container{
    display: flex;
    height: 100vh;
    width: 100vw;
   

}

.container img{
    height: 90%;
    width: 30%;
    align-self: flex-end;
}
.ttdesc{
    height: 100%;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.desctittle{
    height: 20%;
        color: #131312;            
    text-align: left ;
    font-family: DINOT-bold;
margin-left: 8%;
width: 90%;

font-size: 30px;
}
.desccomplete  {
    height: 20%;
font-size: 20px;
width: 80%;
align-self: center;
margin-top: 170px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
}
.desccomplete ul li{
    margin-top: 20px;
    text-align: left;
    padding-right: 60px;
}
.desccomplete ul{
    position: relative;
    list-style: square;
}
.desccomplete ul::before{
    content: '';
    height: 100%;
    width: 120%;
    border: 2px solid #555555;
    position: absolute;
    left: -20%;
    top: 0%;
}

.desccomplete li::after{
    content: '';
    height: 30%;
    width: 5%;
    border-bottom: 11px solid #FFED00;
    border-left: 11px solid #FFED00;
    position: absolute;
    left: -20.3%;
    bottom:  -10%;

}


