*{color: black;}
body{
    display: flex;
    height: 100vh;
    width: 100vw;
align-items: center;
}
.form{
    width:  60vw;
    padding: 30px;
}
.form >p {
    display: block;
    transform: translate(6%);
    width: 90%;
    text-align: justify;
}
.form form{
   display: flex;
width: 100%;
flex-wrap: wrap;
height: 100%;
justify-content: space-around;
}
form p i{
   display: block;
   font-size: 10px;
}
.form input{
    display: block;
    width: 100%;
    height: 30px;
}
form p{width: 40%;}
.email,.mensaj {
width: 90%;
}
.mensaj,.mensaj input{
height: 70px;
margin-bottom: 60px;
}

.form h1{
font-size: 50px;
margin-left: 5%;

}
.map{
display: flex;
width: 30%;
height: 80%;
justify-content: center;
flex-direction: column;
}


.map img{
width: 100%;
display: block;
align-self: flex-end;
height: 40%;
}


.envi {


text-decoration: none;
font-family: DINOT-bold;
width: 20%;
display: flex;
justify-content: center;
align-items: center;
font-size: 30px;

transition: all 300ms;
bottom:18%;
position: relative;
left:32px;
display: block; 
}
.envi::before {
content: '';
height: 30%;
width: 0%;
position: absolute;
background: #FBE818;
bottom: 0px;
left: -8%;
z-index: -1;

transition: all 800ms;
}
.envi::after{
content: '';
height: 15px;
width: 30px;
display: block;
background-repeat:no-repeat;
position: absolute;
background-size: contain;
left:-23px;
transition: all 400ms;
top: 13px;

background:url('../img/arrow.png') no-repeat
}

.map h2{
font-size: 30px;
}
.envi:hover::after{
 left: -17px;
}
.envi:hover::before{
opacity: 1;
width: 50%;
}
.map p{
 font-size: 17px;
}
@media screen and (max-width:800px) {
 body{
     flex-direction: column;
     overflow: scroll !important;
     height: 100%;
 }
 .form{width: 90%;
height: 60%;}
.map{
   width: 80%;
}



.envi {



width: 100%;
display: flex;
justify-content: center;
align-items: center;
font-size: 30px;

transition: all 300ms;
bottom:18%;
position: relative;
left:32px;
display: block; 
}


}



.s{
    position: relative;
}

.s::before{

    animation: frbar 1s;
    content: '';
    height: 33%;
    width:15%;
    background: #FBE818;
display: block;
position: absolute;
bottom: 10%;
z-index: -1;
left: -10px;

}


@keyframes frbar{
    0%{
        width: 0%;
    }
    100%{ width: 15%;}
}


 @keyframes nidites{
     0%{
         opacity: 0;
     }
     100%{ opacity:1}
 }
 
