.container-text
{   
    margin: 20% 10%;
    /* padding: 20% 20%; */
    /* display: block; */
    width: 50%;
    
}

.titulo
{
    padding:30px 0px;

}

.gris-l
{
    margin: 0%;
    padding: 0%;
    width: 60px;
    height: 10px;
    display: inline-block;
    background-color: gray;
}

.liner
{
    height: 20;
    padding: 0%;
    margin-top: 5%;
    border-bottom: solid black;
}

.liner h1 
{
    margin: 3% 0%;
    /* padding-top: 10%; */
    font-size: 3rem;
    font-weight: bolder;
}

.info-cont
{
    margin: 0%;
    padding: 0%;
    font-size: 1.4rem;
    font-weight: bolder;
}

.content {
      font-size: 0.7rem;
      height: 20%;
}
.colorbox
{
    display: block;
    position: absolute;
    top: 15%;
    left: 5%;
    display: none;
}

.linkedin svg{
    display: inline-block;

    width: 4%;
    align-content: center;
  }

.linkedin{
}
 .cv{
    text-align: center;
    width: 30%;
    display: inline-block;
    text-decoration: none;
    padding: 5px;
    /* border: 1px solid rgba(0, 0, 0, 0.315); */
    margin-top: 4%;
    font-weight: bold;
    font-size: 1.42rem;
  }

 

   .cv:hover{
    color: black;
    border:  none;
    background: #FBE818;
  }

  .imagen{
      width: 100%;
      height:100%;
      
   
        background-repeat: no-repeat;
        background-size:cover;
        background-position: 90%;
        display: block;
        position: relative;
        top: 90px;
        
    }
    .img-tatianaherrada{
        background-image: url(../img/perfil3.jpeg);
    }
    .diegoprado{
        background-image: url(../img/1.jpg)
    }
    .sophia{
        background-image: url('../img/4.jpg');
    }
    .victor{background-image: url('../img/2.jpg');}

[class*="col-"] {
    width: 80%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    .imagen{height: 600px;}
    .colorbox {display: block;}
  }

  .container-text{position: relative;}
  .back {
    position: absolute;
    left: 50%;
    bottom: 8px;
  text-decoration: none;
  color: black;
  
  }
  .back::before{
    content: '';
    height: 100%;
    width: 20px;
    background: url('../img/arrow.png') no-repeat;
    position: absolute;
    bottom: -20%;
    left: -25px;
    transition:  all 300ms;
  }
  .back:hover::before{
    left: -20px;}  