body {
  margin: 0;
  padding: 0;

  overflow: hidden !important;
  height: 100%;
  width: 100% !important;
}

* {
  font-family: DINOT-regular;
}
nav {
  display: flex;
  width: 100%;
  padding: 10px 0px;
  justify-content: space-between;
  position: absolute;
  z-index: 1;
  
}

.icon1 img {
  width: 250px;
  margin-left: 20px;
}

nav i {
  display: block;
  transform: translate(-100%, 20%);
  font-size: 30px;
  cursor: pointer;
  font-weight: bold;
  z-index: 4000;
}

.sbmenu {
  height: 100%;
  background: white;
  width: 35%;
  position: absolute;
  right: -100%;
  top: 0px;
  display: flex;
  justify-content: center;
  transition: all 300ms;
  opacity: 0;
  z-index: 3000;

  
}

.sbmenu ul {
  list-style: url("../img/arrow.png");
  height: 100%;
  width: 80%;
  display: flex;

  flex-direction: column;
  margin-left: 20px;
}

.sbmenu ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.sbmenu ul li {
  margin-top: 50px;
  margin-bottom: 30px;
}
.btnms {
  right: 0px;
  opacity: 1;
}
.opdacidbg {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.253);
  position: absolute;
  top: 0;
  z-index: 1000;
  display: none;
  transition: all 200ms;
}

.blk {
  display: block;
  transition: all 200ms;
}

/*Fin del navar y sub menu*/

/*Comienzo de  el apartado de experiencia*/

.infox {
  width: 420px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 40px;
  transform: translate(20%, 50vh);
}
@media screen and (max-width:800px){
  .infox {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 40px;
    transform: translate(-5%, 60vh);
  }
}
.sbcontainer {
  width: 100%;
  height: 100%;
}

.sbcontainer:nth-child(1) {
  background: url("../img/bg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.sbcontainer:nth-child(2) {
  background: url("../img/bg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.sbcontainer:nth-child(3) {
  background: url("../img/bg3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.expinfo p {
  font-size: 19px;
  text-align: left;
  font-family: DINOT-regular;
}
.expinfo h2 {
  font-size: 35px;
  font-family: DINOT-Bold;
}
.expinfo h1,
.expinfo ul,
.expinfo p {
  margin: 0;
  padding: 0;
}
.expinfo ul {
  margin-left: 20px;
}
.container {
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
}
.container::-webkit-scrollbar {
  display: none;
}

.slidebar {
  height: 200px;
  width: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  right: 20px;
  top: 40%;
}

.circle {
  background: #a7a5a6;

  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
  cursor: pointer;
  list-style: none;
}

.circleselect {
  background: #fbe818;
}

.contbtnmnu {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: absolute;
  right: 20px;

  top: 20px;

  cursor: pointer;
}
.contbtnmnu i {
  display: block;
  height: 3px;
  width: 90%;
  background: black;
  transition: all 500ms;
  z-index: 5000;
}
.oc1 {
  transform: translateX(-50px);
  opacity: 0;
}

.rt1 {
  width: 70%;
  transform: rotate(50deg) translate(8px, 11px);
}
.rt2 {
  transform: rotate(-50deg) translate(8px, -11px);
  width: 70%;
}

@media screen and (max-width: 700px) {
  nav i {
    display: block;
    transform: translate(-100%, 20%);
    font-size: 30px;
    cursor: pointer;
    font-weight: bold;
    z-index: 2000;
  }

  .sbmenu {
    height: 100%;
    background: white;
    width: 65%;
    position: absolute;
    right: -200%;
    top: 0px;
    display: flex;
    justify-content: cente;
    transition: all 300ms;
    opacity: 0;
    z-index: 3000;
    overflow: hidden;
    display: none;
  }

  .sbmenu ul {
    list-style: url("/img/arrow.png");
    height: 100%;
    width: 80%;
    display: flex;

    flex-direction: column;
    margin-left: 20px;

    
  }

  .sbmenu ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
  }
  .sbmenu ul li {
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .btnms {
    right: 0px;
    opacity: 1;
    display:block ;
    
  }
  
  .todcont{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    
  }
}

/*Paggina quienes somos */


.container-whois {
  height: 71vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20vh;
}


iframe{
  width: 93%;
  margin-left: 20px;
  height: 300px;
 overflow: hidden ;
  border: none;
}

.container-whois section {
  width: 27%;
  height: 200px;
  margin-left: 30px;
  position: relative;

}
.container-whois div {
  
  margin-left: 20px;
  position: relative;
  margin-right: 40px;
  
}
.wocont{
  width: 65%;
  margin-right: 70px !important;
  margin-top: 30vh !important;
  height: 100%;
 
}
#wo1,#wo2,#wo3,#wo4{
  cursor: pointer;
}





.container-whois > div::before {
  content: "";
  height: 60%;
  bottom: 0px;

  border: 1px solid #e0e1e1;
  position: absolute;
}
.container-whois section ul {
  display: flex;
  flex-direction: column;
height: 200px;
  list-style: none;
  position: fixed;
  margin-top:-2vh !important;
transform: scale(1.0);
  justify-content: space-between;
}
.container-whois section ul li {
  font-size: 19px;
  font-family: DINOT-regular;
}
.container-whois div h1 {
  padding-left: 3vh;
  font-family: DINOT-bold;
  font-weight: bold;
  position: relative;
  display: block;
  width: 450px;
}

.container-whois div h1::before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 67%;
  width: 44%;
  background: #fbe818;
  transform: translate(-14px, 15px);
}

.container-whois section ul li span {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #a7a5a6;
  position: relative;
}

.container-whois section ul li b {
  margin-left: 4px;
}
.selectliwhois {
  background: #fbe818 !important;
}
.contact {
  position: fixed;
top: 50vh;
right: 0vw;
  transform: rotate(-90deg);
  font-family: DINOT-regular;
  font-weight: bold;
}
.frd {
  position: relative;
  display: block;
}
.frd::before {
  content: "";
  position: absolute;
  height: 1200%;
  width: 2px;
  background: #a7a5a6;
  display: block;
  z-index: -1;
  left: 6px;
}
.conttext {
  font-family: DINOT-regular;
  font-size: 19px;
  text-align: justify;
}

#accordion{
  width: 40em;
margin: 0 0% !important;
margin-bottom: 100px !important;}
#accordion h3{
  background:#A7A5A6;
  display:block;
  width: 90%;
  text-align: center;
  cursor: pointer;
  outline: none;
}
.arrow{
  margin-right: 20px;
  transition:all 30ms
}
#accordion div{
  margin: 0;
}
.ui-accordion .ui-accordion-content {
  overflow: hidden;
}



/* <div class="btncont">
                <i class="far fa-arrow-alt-circle-down"></i>
            </div>*/


            .btncont{
              position: absolute;
              left: 45%;
              bottom: -5%;
            }
            .fa-arrow-alt-circle-down{
              font-size: 50px;
              animation: fload 1s infinite;
              color: #FBE818;
              cursor: pointer;
            }

            @keyframes fload{
              0%{
                transform: translate(0,-20px);
              }

              50%{
                transform: translate(0,-10px);
              }
              100%{
                transform: translate(0,-20px);
              }
            }

@media screen and (max-width:800px){


  .container-whois div h1 {
    padding-left: 0vh;
text-align: left;
    font-weight: bold;
    position: relative;
    display: block;
    width: 450px;}
  

  .ui-accordion .ui-accordion-content{
    padding: 0px;
  }

  #accordion{
    width:99%;
  margin-bottom: 100px !important;}
  #accordion h3{
width: 87vw;


  }
  #accordion{
    transform: scale(0.99,1);
  }

#accordion div{
width: 100vw;
}

#accordion p{
  width: 90% !important;
}
  .container-whois > div::before {
 display: none;
  }

  iframe{
    width: 100% !important;
    margin-left: 20px;
    height: 300px;
   overflow: hidden ;
    border: none;
  }
  .container-whois {
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5vh;
    overflow: hidden;
  }

  .container-whois h1{margin-top: 50px;}
  .container-whois div{
    margin: 0 !important;
    width: 90%;
    padding: 0 !important;
  }
  .container-whois section{
    display: none;
  }

  #wocont{
    width: 100%;
    overflow: hidden;

  }
  .contact{
    display: none
  }
  .firstdiv,.trediv,.cuartdiv{
            
    display:block !important;
    height: 100vh !important;

}
.secondtdiv{
  display: block !important;
  height: 100% !important;
}
  
  .conttext {
    font-size: 16px !important;
  text-align:justify !important;
  padding: 0px !important; 
  width: 100% !important;
  }

 
}
/*pagina de Columnas*/

.columns {
  height: 100vh;
  width: 100%;
}
.contcolumns {
  height: 100vh;
  width: 100% !important;
  display: flex;
}
.contcolumns div {
  height: 100%;
  width: 30%;
}
.contcolumns div:nth-child(1),
.contcolumns div:nth-child(3),
.contcolumns div:nth-child(5) {
  background: #cecece;
}
.contcolumns div:nth-child(2),
.contcolumns div:nth-child(4),
.contcolumns div:nth-child(6) {
  background: #e0e1e1;
}
.columns p {
  height: 200px;
}
/*SERVICES*/
/*SERVICES*/
/*SERVICES*/
/*SERVICES*/


.servicdiv {
  height: 100vh;
  width: 100%;
  padding-top: 10vh;
  position: relative;

  overflow: hidden;
}
.SERVCONT {
  width: 71%;
  float: right;
  margin-right: 14%;
  margin-bottom: 5vh;
  text-align: left;
  font-size: 14px;
  position: relative;
}

.SERVCONT h3 {
  text-align: left;
  margin: 0;
  margin-top: 30px;
  font-size: 34px;
}
.SERVCONT p {
  text-align: justify;
  font-family: DINOT-regular;
  font-size: 19px;
}
.SERVCONT hr {
  height: 5px;
  border: none;
  background: #38383c;
  font-family: DINOT-bold;
}
.contimgserv {
  width: 90%;
  height: 45vh;
  background: #525659;
  float: right;
  position: absolute;
  background: url("../img/pexels-maria-orlova-4906410.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 50px;
  bottom: 0px;
  right: 0px;
}

.contimgserv::before {
  content: "";
  position: absolute;
  height: 55vh;
  width: 14vh;
  background: #fbe8188f !important;
  bottom: 0px;
  left: 50px;
}

.bardeco {
  position: absolute;
  height: 50vh;
  z-index: 2000;
  width: 15px;
  background: #fbe818;
  top: 0px;
  right: 70px;
}

.redirecth1 {
  position: absolute;
  bottom: 51vh;
  width: 56%;
  transform: translate(45%);
  display: flex;
  justify-content: space-around;
}
.redirecth1 a {
  text-decoration: none;

  width: 50%;
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 23px;
}


/*EDPAGE*/
/*EDPAGE*/
/*EDPAGE*/
/*EDPAGE*/
/*EDPAGE*/
.arrow-up {
  display: block;
  position: absolute;
  right: -10vh;
  display: flex;
  font-size: 18px;
  top: 40vh;
  width: 300px;
  transform: rotate(-90deg);
  cursor: pointer;
  text-align: unset;
  font-weight: bold;
  display: none;
}
.arrow-u {
  height: 20px;
  margin: 0px 10px;
}
.edcont {
  height: 100vh;
  width: 100%;
  padding-top: 20vh;
  padding-bottom: 200px;
  margin-left: 40px;
}
.edcont .frstdv:nth-child(1) {
  width: 50%;
  margin-left: 60px;
}
.edcont .frstdv:nth-child(1) p {
  font-size: 17px;
  text-align: justify;
}
.frstdv {
  margin-bottom: 50px;
}

.edcont div:nth-child(1) > h1 {
  font-weight: normal;
  font-size: 40px;
  position: relative;
}
.edcont div:nth-child(1) > h1::before {
  content: "";
  background: #fbe818;
  height: 26px;
  width: 250px;
  display: block;
  position: absolute;
  z-index: -1;
  left: -20px;
  bottom: -1px;
}
.edcont div:nth-child(1) h1 b {
  font-family: DINOT-bold;
}

.d2cont {
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.carousel {
  width: 80%;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.192);
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 40px !important;
  overflow: hidden;
}
.carouseltitle {
  background: #e0e1e1;
  width: 100%;
  position: relative;
}
.carouseltitle h1,
.carousel {
  margin: 0;
  padding: 0px;
}

.carouseltitle i {
  position: absolute;
  top: 20%;
  right: 20px;
  font-size: 40px;
  cursor: pointer;
  background: white;
  border-radius: 50%;
}
.carousel-p {
  padding: 10px;
  display: none;
}

.carouseltitle h2 img {
  height: 30px;
  background: white;
  border-radius: 50%;
  float: right;
  margin-right: 20px;
  cursor: pointer;
}

/* FORMULARIO*/
/* FORMULARIO*/
/* FORMULARIO*/
/* FORMULARIO*/

.contactcont {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contactform {
  width: 60%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactform form {
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 40vh;
  align-items: center;
  flex-direction: column;
  margin-top: 120px;

}
.contactform form input,
textarea ,.mensaje{
  border: none;
  outline: none;
  border-bottom: 1px solid #8b8b8b;
  position: relative;
  font-size: 22px;
  width: 70%;
  height: 40px;
}
.bold{
font-weight: 900;
}

.formh1 {
  position: absolute;
 transform: translate(0,-25vh);
 left: 0;
 margin-left: 9%;
  font-size: 40px;
  font-family: DINOT-bold;
  border-bottom: 5px solid#FBE818;
}
.bardeco2 {
  position: absolute;
  height: 60vh;
  width: 20px;
  background: #FBE818;
  left: 10px;
  z-index: -1;
  bottom: 0px;
}




.input {
  transition: all 300ms;
  overflow: hidden;
  margin-bottom: 30px  !important;
}
.input:focus {
  border-bottom: 1px solid ;
}

.input:focus::placeholder {
  transform: translate(-100%);
  transition: all 1s;
}

.mensaje {
 
  border-bottom: 1px solid #8b8b8b !important;
  padding: 0px;
  border-radius: 5px;
  max-width: 42vw;
  max-height: 600px;
  height: 30px !important;
  padding: 10px;
}
.contenv {
  height: 50px;
  width: 300px;
  transform: translate(-1%);
}

.contactcont .contactimg {
  height: 70%;
  width: 30vw;
  background: url("../img/pexels-yury-kim-585419.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.contactimg::before {
  content: "";
  position: absolute;
  height: 250px;
  width: 100%;
  left: -50px;
  background: rgba(255, 255, 0, 0.562);
  top: 26%;
}

.enviar {

  background:none;
  cursor: pointer;
  color: black;
  text-decoration: none;
  text-align: center;
  font-family: DINOT-bold;
  font-size: 20px;
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
transform: translate(20%);
  transition: all 300ms;
  overflow: hidden;
z-index: 2;

}

.enviar::before {
content: '';
height: 44%;
width: 25%;
position: absolute;
background: #FBE818;
bottom: 0px;
left: -150px;
opacity: 0;

transition: all 400ms;
z-index: -1;
}
.enviar::after{
  content: '';
  height: 15px;
  width: 30px;
  display: block;
  background-repeat:no-repeat;
  position: absolute;
  background-size: contain;
  left: 5%;
  transition: all 400ms;
  

  background:url('../img/arrowss.png')
}

 .enviar:hover::after{
    left: 8%;
}
.enviar:hover::before{
  left: 33%;opacity: 1;
}

.arrowenv {
  position: absolute;
  z-index: 10;
  transform: translate(50px, 19px);
  display: block;
}

.mensaje:focus {
  border: 1px solid rgb(240, 184, 0) !important;
}
.ocon {
  width: 40%;
  display: flex;
  align-items: center;
flex-direction: column;
  justify-content: space-around;
}

.ocon i {
  font-size: 20px;
  color: rgb(65, 65, 65);
  cursor: pointer;
}

.oconsocial a{
  text-decoration: none;
}
.oconsocial a img{
   height: 25px;
   margin: 15px 15px;
}
@media screen and (max-height:700px){
 form{
   padding-top: 200px;
   height: 70vh !important;
 }
@media screen and (max-width: 800px) {
  .input {
    transition: all 300ms;
    overflow: hidden;
    margin-bottom: 0px  !important;
  }
  
.contactcont,.contactform ,form{
  overflow: hidden !important;
}
  .formh1 {
    display: none;
   transform: translate(0,-25vh);
   left: 0;
   margin-left: 13%;
    font-size: 40px;
    font-family: DINOT-bold;
    border-bottom: 5px solid #FBE818;
  }


  .contactform {
    width: 94%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:40px;
  }
  .contactform form {
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 60vh;
    align-items: center;
    flex-direction: column;
    margin-top: 120px;
    height: 80%;
    
  }
  .contactform form input,
  textarea {
    border: none;
    outline: none;
    border-bottom: 1px solid #8b8b8b;
    position: relative;
    font-size: 22px;
    width: 92%;
    height:20%;
    margin-top: 20px;
    
  }
  
  

 

  .contenv {
    height: 50px;
    width: 300px;
    transform: translate(-1%);
    margin-top: 20px;
    
  }

  
  .contactcont .contactimg {
  display: none;
  }
 
  

  .enviar:hover .contenv img {
    display: none;
  
  }
  .contenv img {
    position: absolute;
    z-index: 10;
    color: white;
    transform: translate(50px, 19px);
    display: block;
  }
  .mensaje:focus {
    border: 1px solid rgb(240, 184, 0) !important;
  }
  .ocon {
    margin-top: 30px;
   width: 100%;
  display: flex;
  align-items: center;  
  justify-content: space-around;
  flex-direction: column;
}
  
  .ocon p {
    font-size: 20px;
    color: rgb(65, 65, 65);
    cursor: pointer;
  }
  

.oconsocial a{
  text-decoration: none;
}
.oconsocial a img{
   height: 25px;
   margin: 15px 15px;
}

}}

